.logout-button {
  width: 100%; /* Sidebar width cover kare */
  padding: 10px 20px;
  background-color: #EF4444;
  color: rgb(241, 99, 99);
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #DC2626;
}

@media (max-width: 768px) {
  .logout-button {
    width: auto; /* Mobile par jitna text hai utna hi bada */
    min-width: 150px;
  }
} 
