.usecase-row-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  gap: 20px;
  width: 100%;
}

.error-text {
  color: #ef4444;
  padding: 20px;
  font-size: 0.9rem;
}

/* Jab loading ho toh container ki height maintain rakho */
.skeleton-row {
  height: var(--card-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
} 


